
/* Main Body */
#first-div {
    background-image: url("../images/banners/NikoAllisonEng-127.jpg");

}

#second-div {
    background-image: url("../images/banners/NikoAllisonEng-108.jpg");
 
}

#third-div {
    background-image: url("../images/banners/NikoAllisonEng-136touchedup.jpg");
  
}

.text {
    margin: 2rem 15%;
}

@media only screen and (orientation: portrait) {
    .text-box {
        width: 100%;
    }
}